<div class="body">
    <header-login></header-login>
    <div class="col-sm-6 col-md-6 col-lg-4 offset-sm-3 offset-md-3 offset-lg-4 form px-md-5 px-sm-3">
        <form-login></form-login>
    </div>
</div>