<mat-sidenav-container #container id="body">
  <mat-sidenav #sidenav>
    <sidenav [sidenav]="sidenav"></sidenav>
  </mat-sidenav>

  <header-teaching [sidenav]="sidenav"></header-teaching>

  <div class="container-fuild pt-2">
    <mat-tab-group>

      <mat-tab>
        <ng-template mat-tab-label>
          <div layout="row" layout-align="center center">
            Themes
            <td-notification-count color="primary" [notifications]="_themes.length">
            </td-notification-count>
          </div>
        </ng-template>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 py-lg-2" *ngFor="let theme of _themes | filterBy: ['titre']: searchValue">
            <theme-card [theme]="theme"></theme-card>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div layout="row" layout-align="center center">
            Enseignements
            <td-notification-count color="primary" [notifications]="_enseignements.length">
            </td-notification-count>
          </div>
        </ng-template>
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 py-lg-2" *ngFor="let track of _enseignements | filterBy: ['titre']: searchValue">
            <audio-track [track]="track"></audio-track>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Dernier culte">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12 py-lg-2">
            <audio-track [track]="getLastEnseignement()"></audio-track>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
  <template-footer></template-footer>
</mat-sidenav-container>
<change-password></change-password>