login-page {

    .login-content {
        //background: #303F9F;

        background: linear-gradient(270deg, #065a9a, #7fb6e0, #7fd4e0);
        background-size: 600% 600%;
        
        -webkit-animation: AnimationName 30s ease infinite;
        -moz-animation: AnimationName 30s ease infinite;
        animation: AnimationName 30s ease infinite;
        
        @-webkit-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @-moz-keyframes AnimationName {
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }
        @keyframes AnimationName { 
            0%{background-position:0% 50%}
            50%{background-position:100% 50%}
            100%{background-position:0% 50%}
        }

    .logo-row {
        padding-top: 50px;
        padding-bottom: 20px;
      }

    .login-box {
        //background: #065a9a;
        padding: 20px 20px 0px 20px;
        margin-top: 30px;
      }

      ion-row {
        align-items: center;
        text-align: center;
      }

    }

}
