<ion-content class="login-content" padding>

    <ion-row class="logo-row">
        <ion-col></ion-col>
        <ion-col width-67>
          <img src="assets/logoicc.png"/>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>

    <div class="login-box">
        <form class="login-form" (ngSubmit)="onSubmit()" [formGroup]="user">
            <ion-item>
                <ion-label floating color="primary">Email</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <p *ngIf="user.get('email').touched && ( user.get('email').hasError('required') || user.get('email').hasError('email') ) " color="danger" padding-left>
                    Email correct est obligatoire
            </p>

            <ion-item>
                <ion-label floating color="primary">Mot de passe</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <p *ngIf="user.get('password').touched && user.get('password').hasError('required')" color="danger" padding-left>
                Le mot de passe est obligatoire
            </p>

            <div padding>
                <ion-row>
                    <button ion-button color="primary" block type="submit" [disabled]="user.invalid">Connexion</button>
                </ion-row>
            </div>
        </form>
    </div>
    

</ion-content>