<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="passwordModalLabel">Bienvenue !</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="px-lg-5 px-md-3 px-sm-3 py-3 my-2 my-lg-0" (ngSubmit)="onSubmit()" [formGroup]="user">
        <div class="modal-body">
          <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> Pour votre première connexion, vous devez modifier votre mot de passe !
          </div>
          <div 
          [ngClass]="{'form-group': true, 
          'has-success':!passwordFormError('password')  && !user.invalid, 
          'has-danger': passwordFormError('password')  && user.invalid }">
            <label for="password">Mot de passe</label>
            <div class="input-group">
              <span class="input-group-addon" id="password"><mat-icon class="tc-blue-700">lock</mat-icon></span>
              <input 
              (ngModelChange)="onChange($event)" 
              [ngClass]="{'form-control': true, 
              'form-control-success': !passwordFormError('password')  && !user.invalid,
              'form-control-danger': passwordFormError('password')  && user.invalid}" 
              type="password" 
              placeholder="Password"
              aria-describedby="password" formControlName="password">
            </div>
            <div class="form-control-feedback" *ngIf="user.get('password').hasError('minlength') && user.get('password').touched">8 charactères minimum</div>
          </div>
          <div 
          [ngClass]="{'form-group': true, 
          'has-success':!confirmFormError('confirm') && !user.invalid, 
          'has-danger': confirmFormError('confirm') && user.invalid }">
            <label for="password">Confirmer votre Mot de passe</label>
            <div class="input-group">
              <span class="input-group-addon" id="password"><mat-icon class="tc-blue-700">lock</mat-icon></span>
              <input 
              [ngClass]="{'form-control': true, 
              'form-control-success':!confirmFormError('confirm') && !user.invalid,
              'form-control-danger': confirmFormError('confirm') && user.invalid}"
              type="password" 
              placeholder="Password" 
              aria-describedby="password"
              formControlName="confirm">
            </div>
            <div class="form-control-feedback" *ngIf="user.get('confirm').hasError('minlength') && user.get('confirm').touched">8 charactères minimum</div>
            <div class="form-control-feedback" *ngIf="user.invalid && user.get('confirm').touched">Les mots de passe ne correspondent pas !</div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline-primary col-md-6 col-sm-12 col-12" type="submit" [disabled]="user.invalid">Enregistrer</button>
        </div>
      </form>
    </div>
  </div>
</div>