<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary" >
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="isLoggedIn" class="menu-content">
    <ion-list no-lines>
      <ion-list-header>
        Profile
      </ion-list-header>
      <ion-item>
        <ion-icon name="contact" item-start></ion-icon>
        {{user?.prenom}} {{user?.nom}}
      </ion-item>
      <ion-item>
        <ion-icon name="at" item-start></ion-icon>
        {{user?.email}}
      </ion-item>
    </ion-list>
    <ion-list >
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
    <ion-list no-lines>
      <ion-list-header>
        Abonnements
      </ion-list-header>
      <ion-item *ngFor="let abo of abonnements">
        <ion-icon name="calendar" item-start></ion-icon>
        Carte Gold
        <ion-note item-end>
          {{abo}}
        </ion-note>
      </ion-item>
    </ion-list>

    <button class="menu-bottom" ion-button color="dark" padding menuClose (click)="deconnexion()">
        Deconnexion
    </button>

  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

