<i class="material-icons" id="btn-option" [matMenuTriggerFor]="menu">{{iconStyle}}</i>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="repeat()">
      <mat-icon [ngStyle]="{'color': (this.player.loop ? 'brown' : '')}">repeat_one</mat-icon>
      <span>Repeter</span>
    </button>
    <button mat-menu-item (click)="download()"><mat-icon>file_download</mat-icon><span>Télécharger</span></button>
  <!--<button md-menu-item>Ajouter aux favoris</button>
  <button md-menu-item>Prendre des notes</button>
  <button md-menu-item>Enseignements similaires</button>-->
</mat-menu>