<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Adorations</ion-title>
    <ion-buttons (click)="openPlayer()" id="player" end>
      <button ion-button icon-only>
        <ion-icon *ngIf="trackPlayed || trackPlayed?.player" class="controls-play" name="ios-musical-notes-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <img class="image-banner" alt="adoration" [src]="env.adoration.image"> -->
  <ion-list *ngFor="let track of adorations$ | async | filterBy: ['titre']: searchValue">
    <audio-track [track]="track" [trackType]="trackType"></audio-track>
  </ion-list>
</ion-content>