<nav class="navbar navbar-expand-md navbar-light" style="background-color: #303F9F;">
  <a class="navbar-brand" href="#"> <img class="icon-header img-fluid" alt="logo" src="assets/Loco-CG.png"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
     
    </ul>
    
  </div>
</nav>
