
.container-fuild {
    padding-bottom: 100px;

    .header-icon {
        font-size: 200%;
    }
    
    .header-text {
        color: white;
        // font-family: "Times New Roman", Times, serif;
    }
    
    .image-banner {
        @media (min-width: 575px) { display: none; };
        margin-top: 0;
    }
    
    .menu-title {
        @media (max-width: 575px) { display: none; };
    }
    
    .menu-num-track {
        @media (max-width: 575px) { display: none; };
    }
    
    .menu-home {
        @media (max-width: 575px) { display: none; };
    }
}