<mat-sidenav-container id="body">
  <mat-sidenav #sidenav>
    <sidenav [sidenav]="sidenav"></sidenav>
  </mat-sidenav>

  <header-teaching [sidenav]="sidenav"></header-teaching>

  <div class="container-fuild">

    <div class="row">
      <button (click)="goBack()" mat-button class="col-lg-2 col-md-6 col-sm-12 pt-2 bgc-blue-grey-700 menu-home">
        <mat-icon class="header-icon tc-green-A700">home</mat-icon>
        <span class="header-text">Accueil</span>
      </button>
      <button mat-button class="col-lg-5 col-md-6 col-sm-12 pt-2 bgc-blue-grey-800 menu-title">
        <mat-icon class="header-icon tc-cyan-100">library_music</mat-icon>
        <span class="header-text">{{_theme.titre}}</span>
      </button>
      <button mat-button class="col-lg-5 col-sm-12 pt-2 bgc-blue-grey-900 menu-num-track">
        <mat-icon class="header-icon tc-cyan-100">audiotrack</mat-icon>
        <span class="header-text">{{_enseignements.length}} Enseignement(s)</span>
      </button>
    </div>

    <img class="image-banner" *ngIf="_theme.image !== ''" mat-card-image alt="theme" [src]="env.theme_image+_theme.image">

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let track of _enseignements | filterBy: ['titre']: searchValue">
        <audio-track [track]="track"></audio-track>
      </div>
    </div>
  </div>
  <template-footer></template-footer>

</mat-sidenav-container>