.modal {
    
    .mat-slider-horizontal {
        height: 23px;
        width: 100%;
    }
    .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        .modal-content {
            height: auto;
            min-height: 100%;
            border-radius: 0;
            background: #292b2c;
            color: white;
            .modal-header {
                .equalizer {

                }
                button {
                    padding-right: 10px;
                    color: white;
                }
                background-color: #292b2c;
                color: white;
                border: 0;
            }
            .modal-body {
                text-align: center;
                .body-titre {
                    //white-space:nowrap;
                    //overflow: hidden;
                    //text-overflow: ellipsis; 
                }
            }
            .modal-footer {
                display: block;
                margin-left: auto;
                margin-right: auto;
                border: 0;
                .audio-controle {
                    text-align: right;
                }
                #preview {
                    cursor: pointer !important;
                    i {
                        font-size: 35px;
                    }
                }
                #next {
                    cursor: pointer !important;
                    i {
                        font-size: 35px;
                    }
                }
            }
          }
      }
}