<!-- Modal -->
<div class="modal fade" id="audioDisplayModal" tabindex="-1" role="dialog" aria-labelledby="audioDisplayModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <span class="col-2 mt-2" data-dismiss="modal" aria-label="Close" id="closeButton">
                <i class="material-icons">arrow_back</i>
            </span>
        <div class="col-8">
          <span class="md-caption">{{commonService.formatTime(time)}} / {{commonService.formatTime(duration)}}</span>
        </div>
        <div class="col-2 equalizer">
            <svg-icon *ngIf="onPlayed" src="assets/svg/equalizer.svg" class="loading-music"></svg-icon>
        </div>
        
        
      </div>
      <div class="modal-body">
          <mat-card class="theme-card-mobile">
            <img class="image-banner" *ngIf="track.th_image !== ''" mat-card-image alt="theme" [src]="env.theme_image+track.th_image">
            <img class="image-banner" *ngIf="track.th_image === ''" mat-card-image alt="theme" [src]="'assets/audio-display-background.png'">
          </mat-card>
          <span class="body-titre md-title">{{ track.titre }}</span><br>
          <span class="body-soustitre md-subhead">{{ track.soustitre }}</span>
      </div>
      <mat-slider
      [max]="max"
      [min]="min"
      [step]="step"
      [thumb-label]="thumbLabel"
      [value]="value"
      (input)="onSliderChange($event)">
      </mat-slider>
      <div class="modal-footer">

          <div>
            <play-pause class="col-8" [player]="player" [track]="track" [onPlayed]="onPlayed" [sizeClass]="'fa-lg'"></play-pause>
          </div>
          
      </div>

    </div>
  </div>
</div>