<div class="progress" id="progressBarControl">
  <div [ngClass]="progressClass" role="progressbar" [ngStyle]="{'width' : percent+'%'}" attr.aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>

