<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bible audio</ion-title>
    <ion-buttons (click)="openPlayer()" id="player" end>
      <button ion-button icon-only>
        <ion-icon *ngIf="trackPlayed || trackPlayed?.player" class="controls-play" name="ios-musical-notes-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
      <img class="image-banner" alt="adoration" [src]="'assets/bible-cover.png'">
      <ion-item-group>
          <ion-item-divider color="light">Nouveau Testament</ion-item-divider>
          <div *ngFor="let theme of _bibleThemes | filterBy: ['TYPE']: 'NOUVEAU'">
              <ion-list-header>
                  {{theme.value}}
              </ion-list-header>
              <ion-item no-lines *ngFor="let track of _bibleaudios | filterBy: ['theme']: theme.key">
                <audio-track [track]="track" [trackType]="trackType"></audio-track>
              </ion-item>  
          </div>
      </ion-item-group>

      <ion-item-group>
          <ion-item-divider color="light">Ancien Testament</ion-item-divider>
          <div *ngFor="let theme of _bibleThemes | filterBy: ['TYPE']: 'ANCIEN'">
              <ion-list-header>
                  {{theme.value}}
              </ion-list-header>
              <ion-item no-lines *ngFor="let track of _bibleaudios | filterBy: ['theme']: theme.key">
                <audio-track [track]="track" [trackType]="trackType"></audio-track>
              </ion-item>  
          </div>
      </ion-item-group>
      
  </ion-list>

</ion-content>