<ion-header>
  <ion-navbar color="primary">
    <ion-title>Enseignements</ion-title>


    <ion-buttons (click)="openPlayer()" id="player" end>
      <button ion-button icon-only>
        <ion-icon *ngIf="trackPlayed || trackPlayed?.player" class="controls-play" name="ios-musical-notes-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img class="image-banner" *ngIf="_enseignements.length > 0 && _enseignements[0].th_image !== ''" alt="theme" [src]="env.enseignement.image+_enseignements[0].th_image">
  <ion-list *ngFor="let track of _enseignements | filterBy: ['titre']: searchValue">
    <audio-track [track]="track" [trackType]="trackType"></audio-track>
  </ion-list>
</ion-content>
