<img *ngIf="theme.image !== ''" mat-card-image alt="theme" [src]="defaultImage" [lazyLoad]="env.theme_image+theme.image" [offset]="100">
<img *ngIf="theme.image === ''" mat-card-image alt="theme" [src]="defaultImage" [lazyLoad]="'assets/image-card.png'" [offset]="100">
<div *ngIf="theme.image === ''" class="card-image col-12">
  <h1 class="font-style pt-3 mt-3">{{theme.titre}}</h1>
</div>