// .theme-card {
//     @media (max-width: 575px) { display: none; };
    .card-image {
        height: 250px;
        color: #eed782;
        position: absolute;
        top: 30px;
        @media (min-width: 992px) and (max-width: 1199px) { font-size: 20px; top: 0px; }
        .font-style {
            //font-family: Papyrus, fantasy;
            //font-size: 20px;
            font-style: normal;
            font-variant: normal;
            font-weight: bold;
            text-shadow: 2px 2px #373232;
            @media (max-width: 575px) { font-size: 25px; };
            @media (min-width: 576px) and (max-width: 767px) { font-size: 25px; }
            @media (min-width: 992px) and (max-width: 1199px) { font-size: 25px; }
            @media (min-width: 1199px) { font-size: 25px; };
        }
    }
// }
