.audio-widget {
    box-shadow: 1px 1px 12px #555;
    background-color: white;
    @media (min-width: 575px) { display: none; };
    .card-content {
        #card-title {
            margin-bottom: 1px;
            line-height: 1;
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis; 
        }
    }

}
