<nav class="navbar fixed-bottom navbar-light audio-widget" *ngIf="isDisplay" >
  <div class="row">
    <div class="col-2">
      <span class="card-link">
        <play-pause [player]="trackPlayed?.player" [track]="trackPlayed?.track" [onPlayed]="onPlayed" [sizeClass]="'fa-lg'"></play-pause>
      </span>
    </div>
    <div class="col-10 card-content" (click)="openAudioDisplay()">
      <p id="card-title">
        <span class="md-body-2">{{ trackPlayed?.track.titre }}</span>
      </p>
      <widget-progressbar></widget-progressbar>
      <span class="md-caption">{{commonService.formatTime(time)}} / {{commonService.formatTime(duration)}} | Pasteur {{ trackPlayed?.track.aut_nom }} {{ trackPlayed?.track.aut_prenom }}</span>
    </div>
  </div>
</nav>
