<span (click)="playAndPause()" id="play">
    <ion-icon *ngIf="onStatusUpdate === 3 || onStatusUpdate === 4" class="controls-play" name="play"></ion-icon>
    <ion-icon *ngIf="onStatusUpdate === 2 || onStatusUpdate === 1" class="controls-play" name="pause"></ion-icon>
</span>