<ion-item (click)="playAndPause()">
  <h2>{{track.titre}}</h2>
  <h3 *ngIf="track.soustitre || track.soustitre !== ''">{{ track.soustitre }}</h3>
  <h3 *ngIf="track.soustitre || track.soustitre == '' ">- // -</h3>
  <p *ngIf="track.date">{{ track.date | date:'fullDate'}} </p>
</ion-item>