<button class="btn btn-danger my-sm-2 mr-sm-2" (click)="show()">Inscription</button>

<!-- Modal -->
<div class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="user">
        <div class="modal-body">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" placeholder="Enter nom" formControlName="nom">
          </div>
          <!--Error-->
          <div
            class="error"
            *ngIf="user.get('nom').hasError('required') && user.get('nom').touched">
            <small>{{ validationMessages.nom.required }}</small>
          </div>

          <div class="form-group">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" placeholder="Enter prénom" formControlName="prenom">
          </div>
          <!--Error-->
          <div
            class="error"
            *ngIf="user.get('prenom').hasError('required') && user.get('prenom').touched">
            <small>{{ validationMessages.prenom.required }}</small>
          </div>

          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="email" class="form-control" placeholder="Enter téléphone" formControlName="telephone">
          </div>
          <!--Error-->
          <div
            class="error"
            *ngIf="user.get('prenom').hasError('required') && user.get('prenom').touched">
            <small>{{ validationMessages.prenom.required }}</small>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="Enter email" formControlName="email">
          </div>
          <!--Error-->
          <div
            class="error"
            *ngIf="user.get('email').hasError('required') && user.get('email').touched">
            <small>{{ validationMessages.email.required }}</small>
          </div>

          <div class="form-group">
            <label for="statut">Statut</label>
            <select class="form-control" placeholder="statut" formControlName="statut">
              <option></option>
              <option>Non S.T.A.R</option>
              <option>S.T.A.R</option>
            </select>
          </div>
          <!--Error-->
          <div
            class="error"
            *ngIf="user.get('statut').hasError('required') && user.get('statut').touched">
            {{ validationMessages.statut.required }}
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Mot de passe" formControlName="password">
          </div>
          <!--Error-->
          <div
            class="error"
            *ngIf="user.get('password').hasError('required') && user.get('password').touched">
            <small>{{ validationMessages.password.required }}</small>
          </div>

        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="submit" [disabled]="user.invalid" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>