<ion-tabs>
  <ion-tab tabIcon="flame" tabTitle="Enseignements" [root]="enseignementsPage"></ion-tab>
  <ion-tab tabIcon="musical-note" tabTitle="Adorations" [root]="adorationsPage"></ion-tab>
  <ion-tab tabIcon="book" tabTitle="Bible" [root]="bibleAudioPage"></ion-tab>
</ion-tabs>