<div class="progress" [ngStyle]="{'height' : height}" id="progressBarControl" (click)="clickProgress(progressbar, $event)" >
  <div [ngClass]="progressClass" #progressbar role="progressbar" [ngStyle]="{'width' : percent+'%'}" attr.aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100"></div>
</div>

