<ion-header>
  <ion-toolbar color="nicedark">

    <ion-title>
        {{ track.aut_prenom }} {{ track.aut_nom }}
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="modal-body">
  <div class="theme-img">
    <img md-card-image alt="theme" [src]="cover">
  </div>
  <h1>{{ track.titre }}</h1>
  <span class="body-soustitre md-subhead">{{ track.soustitre }}</span>

  <div class="modal-controls">
      <ion-range min="0" max="100" (ionBlur)="onSliderChange($event)" (ionFocus)="onSliderChange($event)" [(ngModel)]="rangetime" color="primary">
          <ion-label range-left>{{commonService.formatTime(time)}}</ion-label>
          <ion-label range-right>{{commonService.formatTime(duration)}}</ion-label>
        </ion-range>
      <play-pause></play-pause>
  </div>
</ion-content>