.modal-body {
    .theme-img{
        margin-top: 50px;
        img {
            max-width: 50%;
        }
    }
    background: #292b2c !important;
    color: white;
    text-align: center;
    .modal-controls{
        position: fixed;
        bottom: 50px;
        width: 100%;
    }
}