footer {
    @media (max-width: 575px) { display: none; };
    background-color: #141414;
    color: grey;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding-top: 10px;
}

a {
    color: grey;
}

#social-media {
    margin-bottom: 16px;
}

#copyright {
    font-size: 11px;
    margin-bottom: 15px;
}