<!-- Footer -->
<footer>
    <div class="container">
        <div class="row" id="social-media">
            <div class="col-2 col-md-1 offset-md-1 col-sm-1 offset-sm-1">
                <a href="https://www.facebook.com/ImpactCentreChretienRouen"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
            </div>
            <div class="col-2 col-md-1 col-sm-1">
                <a href="https://www.youtube.com/channel/UCF1gTy6-MKO3RvWyOciIM4w"><i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-11 col-sm-11  offset-md-1 offset-sm-1" id="copyright">
                <p>Tel: + 337 85 41 80 56 | Email: icc-rouen@impactcentrechretien.com</p>
                <p>Rue de l'Industrie, 76160 Saint-Léger du Bourg-Denis</p>
                <p>Copyright © Impact Centre Chrétien Rouen, All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
