<!-- Navbar Desktop -->
<nav class="navbar navbar-expand-md navbar-light navbar-desktop" style="background-color: #303F9F;">
    <a class="navbar-brand" href="#/enseignements">
        <img class="icon-header img-fluid" src="assets/Loco-CG.png">
    </a>
    <search-bar class="col-lg-6 col-md-12  col-sm-12 header-search"></search-bar>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">

        </ul>
        <dropdown-user></dropdown-user>
    </div>
</nav>
<!-- Fin Navbar Desktop -->

<!-- Navbar Mobile -->
<nav class="navbar navbar-expand-lg navbar-light navbar-mobile" style="background-color: #303F9F;">
    <search-bar class="col-lg-10 col-md-10  col-sm-10 header-search"></search-bar>
    <button (click)="sidenav.open()" class="navbar-toggler navbar-toggler-right header-button mt-3" type="button" data-toggle="collapse"
        data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<!-- Fin Navbar Mobile -->