
.navbar-desktop{
    @media (max-width: 991px) { display: none; };
    .icon-header{
        max-width: 120px;
    }
}

.navbar-mobile {
    @media (min-width: 991px) { display: none; };
    .header-search {
        width: 80%;
    }
}