<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Accueil</ion-title>
    <ion-buttons (click)="openPlayer()" id="player" end>
      <button ion-button icon-only>
        <ion-icon *ngIf="trackPlayed || trackPlayed?.player" class="controls-play" name="ios-musical-notes-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="themes">
        Themes
      </ion-segment-button>
      <ion-segment-button value="enseignements">
        Enseignements
      </ion-segment-button>
      <ion-segment-button value="dernierCulte">
        Dernier culte
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div [ngSwitch]="segment">

    <ion-list *ngSwitchCase="'themes'">
      <ion-slides *ngIf="themes$ | async" [loop]="true" [autoplay]="4000" [slidesPerView]="getSlidesPerView()" [spaceBetween]="5" style="background-color: #141414">
        <ng-container *ngFor="let theme of themes$ | async | shuffle">
          <ion-slide *ngIf="getEnseignementsByIdTheme(theme.id, (enseignements$ | async )).length > 0 && theme.image && theme.image !== ''" (click)="goToTeaching(theme.id)">
            <img class="image-banner" alt="theme" [src]="env.enseignement.image+theme.image">
          </ion-slide>
        </ng-container>

      </ion-slides>

      <theme-card [theme]="theme" *ngFor="let theme of themes$ | async | filterBy: ['titre']: searchValue"></theme-card>
    </ion-list>

    <ion-list *ngSwitchCase="'enseignements'">
      <audio-track [track]="track" [trackType]="trackType" *ngFor="let track of enseignements$ | async | filterBy: ['titre']: searchValue"></audio-track>
    </ion-list>

    <ion-list *ngSwitchCase="'dernierCulte'">
      <audio-track [track]="(enseignements$ | async)[0]" [trackType]="trackType"></audio-track>
    </ion-list>

  </div>
</ion-content>
