<!--<i (click)="playAndPause()" [ngClass]="[iconClass, sizeClass]" id="play" aria-hidden="true"></i>-->

<span (click)="playAndPause()" id="play">
<i class="material-icons" *ngIf="!onPlayed" style="color: #303F9F;">play_circle_outline</i>
<i class="material-icons" *ngIf="onPlayed" style="color: brown;">pause_circle_outline</i>
</span>