<!-- Desktop -->
<mat-card *ngIf="countEnseignement() > 0" class="theme-card">
  <image-card [theme]="theme"></image-card>
  <mat-card-content>
    <p>{{theme.description}}</p>
    <p>{{countEnseignement()}} enseignement(s)</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goToTeaching()">Accéder</button>
  </mat-card-actions>
</mat-card>
<!-- Fin Desktop -->

<!-- Mobile -->
<mat-card *ngIf="countEnseignement() > 0" class="theme-card-mobile" (click)="goToTeaching()">
  <mat-card-content>
    <span class="md-title">{{theme.titre}}</span>
    <p class="md-caption">{{countEnseignement()}} enseignement(s)</p>
  </mat-card-content>
</mat-card>
<!-- Fin Mobile -->
