.theme-card {
    @media (max-width: 575px) { display: none; };
}

.theme-card-mobile {
    cursor: pointer;
    border-left: solid 5px #303F9F;
    md-card-content {
        p {
            font-style: italic;
        }
    }
    @media (min-width: 575px) { display: none; };
}