<mat-card class="login-card">
  <mat-card-header>
      <div class="col-6 offset-3 pr-5 py-2">
          <img class="icon-header img-fluid" alt="logo" src="assets/logoicc.png">
      </div>
  </mat-card-header>
  <mat-card-content>
    <form class="px-lg-0 px-md-3 px-sm-3 py-2 my-2 my-lg-0" (ngSubmit)="onSubmit()" [formGroup]="user">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <span class="input-group-addon" id="email"><mat-icon class="tc-blue-700">email</mat-icon></span>
          <input class="form-control" type="email" placeholder="Email" aria-describedby="email" formControlName="email">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <div class="input-group">
          <span class="input-group-addon" id="password"><mat-icon class="tc-blue-700">lock</mat-icon></span>
          <input class="form-control" type="password" placeholder="Password" aria-describedby="password" formControlName="password">
        </div>
      </div>
      <button class="btn btn-outline-primary col-md-6 col-sm-12 col-12" type="submit" [disabled]="user.invalid">Connexion</button>
    </form>
  </mat-card-content>
</mat-card>