<nav class="navbar navbar-inverse navbar-light header-sidenav">
  <h1 class="navbar-brand mb-0">Menu <span class="text-right closebtn" (click)="sidenav.close()">&times;</span></h1>
</nav>
<div class="container">

  <div class="content-sidenav pt-5">

    <p>
      <img class="align-top" src="assets/icon-user.png">
      <span class="md-title text-white"> {{ user.prenom }} {{ user.nom }}</span>
    </p>

    <a href="#/enseignements">
      <i class="fa fa-home" aria-hidden="true"></i>
      <span class="ml-3">Accueil</span>
    </a>
    <a (click)="logout()">
      <i class="fa fa-sign-out" aria-hidden="true"></i>
      <span class="ml-3">Déconnexion</span>
    </a>

  </div>

  <div class="row footer-sidenav">

    <a href="https://www.facebook.com/ICCRouen">
      <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCF1gTy6-MKO3RvWyOciIM4w">
      <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
    </a>
  </div>

</div>