@mixin generic-a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
  }

.header-sidenav {
    background-color: #818181;
    text-align: center;
    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    
}

.container {
    background-color: #292b2c; 
    height:100%;
    .content-sidenav {
        
        a {
            @include generic-a;
            color: #818181;
            font-size: 20px;
        }
    
    }
        
    .footer-sidenav {
        position: fixed;
        bottom: 0px;
        width: 100%;
        a {
            @include generic-a;
            color: white;
            font-size: 20px;
        }
    }
}
