#content {
    background-color: rgba(0,0,0,.9);
    color: #fff;
}

.nav-item {
    margin: 0 0 0 20px;
}

a {
    color: #fff;
}

i {
    font-size: 25px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
}