<!-- Desktop -->
<mat-card class="track-card">
  <image-card [theme]="theme"></image-card>
  <mat-card-content>
    <div>
      <span class="card-link"><play-pause [player]="player" [onPlayed]="onPlayed" [sizeClass]="'fa-2x'"></play-pause></span>
      <span class="card-link"><button-option [player]="player" [track]="track" [sizeClass]="'fa-2x'" [iconStyle]="'more_horiz'"></button-option></span>
    </div>

    <h3 class="card-title" style="color: black">{{ track.titre }}</h3>
    <h6 class="card-subtitle mb-2 text-muted">{{ track.soustitre }}</h6>
     <small class="text-muted">Orateur: Pasteur {{ track.aut_nom }} {{ track.aut_prenom }}</small>
    <progress-bar [player]="player" [height]="'7px'"></progress-bar>
  </mat-card-content>
  <mat-card-actions>
    <p class="card-text mb-2"><svg-icon *ngIf="onPlayed" src="assets/svg/equalizer.svg" class="loading-music"></svg-icon> <small class="text-muted">{{commonService.formatTime(time)}} / {{commonService.formatTime(duration)}} | Sorti le {{ track.date }} - {{ track.vues }} vue(s)</small></p>
  </mat-card-actions>
</mat-card>
<!-- Fin Desktop -->

<!-- Mobile -->
  <mat-card class="track-card-mobile">
    <div class="row">
      <div class="col-10" (click)="playAndPause(player)">
          <mat-card-content>
              <span class="md-title">{{track.titre}}</span><br>
              <span class="md-caption">{{ track.soustitre }}</span>
              <p class="md-caption">
                  <svg-icon *ngIf="onPlayed" src="assets/svg/equalizer.svg" class="loading-music"></svg-icon>
                Sorti le {{ track.date }} - {{ track.vues }} vue(s)
              </p>
            </mat-card-content>
      </div>
      <div class="col-2 mt-4">
              <button-option [player]="player" [track]="track" [sizeClass]="'fa-2x'" [iconStyle]="'more_vert'"></button-option>
      </div>
    </div>
  </mat-card>
<!-- Fin Mobile -->

<audio preload="none" #player 
(timeupdate)="_ontimeupdate(player)" 
(play)="_onplay()" 
(playing)="_onplaying()" 
(progress)="_onprogress()" 
(canplaythrough)="_oncanplaythrough()" 
(loadeddata)="_onloadeddata()"
(canplay)="_oncanplay()"
(pause)="_onpause()" 
(ended)="_onended()">
  <source [src]="urlSong" type="audio/mpeg">
  <source [src]="urlSong" type="audio/wav">
    Your browser does not support the audio element.
</audio>