.track-card {
    @media (max-width: 575px) { display: none; };
    .card-title {
        font-size: 20px;
        font-family: Georgia, serif;
    }
    .card-subtitle {
        font-size: 15px;
    }
}

.track-card-mobile {
    cursor: pointer;
    border-left: solid 5px #303F9F;
    md-card-content {
        padding-bottom: 0px;
        padding-top: 0px;
        p.md-caption {
            font-style: italic;
        }
    }
    @media (min-width: 575px) { display: none; };
}