<div >
    <img class="align-top" src="assets/icon-user.png">
    <span class="align-top" id="full-name">{{ this.user.prenom }} {{ this.user.nom }}
        <a (click)="logout()" class="align-baseline px-3"><mat-icon style="font-size: 30px;">power_settings_new</mat-icon></a>
    </span>
    
</div>
